* {
	scrollbar-color: #333 #111;
	box-sizing: border-box;
	font-family: "Jersey 15", sans-serif;
}

body {
	font-size: 16px;
	line-height: 1;
	margin: 0;
	overflow: auto;
	color: white;
	background-color: #0F0E0E;
}

#ui-bar {
	background-color: #FFFFFF;
	border-right: 1px solid black;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	transition: left .2s ease-in;
	width: 17.5em;
	z-index: 50;
}

#ui-bar.stowed {
	left: -15.5em;
}

#story {
	background-color: #0F0E0E;
	transition: margin-left .2s ease-in;
	margin-left: 17.5em;
	min-height: 2em;
}

#ui-bar.stowed ~ #story {
  margin-left: 2em;
}

a {
	text-decoration: none;
	color: MediumSeaGreen;
}

#header {
	background-color: #247381;
	min-height: 5vh;
	position: sticky;
	top: 0;
}

#header > div {
	background-color: MediumSeaGreen;
	width: 100%;
	height: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

#headerdh1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#headerdh1 > h1 {
	margin: 0;
	font-size: 4vh;
}

#headerdh1 > button {
	border: 2px solid white;
	width: 4vh;
	height: 4vh;
	font-size: 3.5vh;
	background-color: MediumSeaGreen;
	color: white;
	position: relative;
	right: 0;
}

#posts {
	padding-left: 10%;
	padding-right: 10%;
}

#posts > div {
	margin-top: 1em;
	border: 2px solid gray;
	padding: 1em;
}

#posts > div > h1 {
	font-size: 6vh;
	text-align: center;
}

#posts > div > h2 {
	font-size: 4vh;
}

h3 {
	font-size: 3vh;
}

h1, h2, h3, p {
	margin:0;
}

h2 > a {
	color: white;
	font-size: 4vh;
	margin:0;
}

h2 > a:hover {
	color: black;
}

.tab {
	border-left: 2px solid MediumSeaGreen;
	padding-left: 1em;
}

summary {
	background-color: MediumSeaGreen;
	padding: 5px;
}

input[type="file"] {
	display: none;
}

input[type="number"] {
	border: 1px solid white;
	background-color: #0F0E0E;
	color: white;
	-moz-appearance: textfield;
	width: 3em;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
	margin: 0;
}

::picker(select) {
	appearance: base-select;
	border: 1px solid white;
	background-color: #0F0E0E;
	color: white;
	font-family: "Jersey 15", sans-serif;
	border-radius: 0;
}

select, option  {
	appearance: base-select;
	border: 1px solid white;
	background-color: #0F0E0E;
	color: white;
	font-family: "Jersey 15", sans-serif;
	border-radius: 0;
}

.custom-file-upload {
	background-color: #0F0E0E;
	border: 2px solid white;
	display: inline-block;
	padding: 16px 16px;
	font-size: 4vh;
	cursor: pointer;
	color: white;
}

.custom-file-upload:hover {
	border: 2px solid MediumSeaGreen;
	color: MediumSeaGreen;
}

#post2 > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#post2 > div > button {
	background-color: #0F0E0E;
	border: 2px solid white;
	padding: 8px 8px;
	font-size: 2vh;
	cursor: pointer;
	color: white;
	margin: 4px;
}

#post2 > div > button:hover {
	border: 2px solid MediumSeaGreen;
	color: MediumSeaGreen;
}

.hidden  {
	display: none;
}

#downfile {
	background-color: #0F0E0E;
	border: 2px solid white;
	display: inline-block;
	padding: 16px 16px;
	font-size: 4vh;
	cursor: pointer;
	color: white;
}

#downfile:hover {
	border: 2px solid MediumSeaGreen;
	color: MediumSeaGreen;
}

@media only screen and (min-width: 900px) {
	#header {
		min-height: 10vh;
	}
	#header > div {
		height: 10vh;
	}
	#headerdh1 > h1 {
		font-size: 6vh;
	}
	
	#headerdh1 > button {
		width: 8vh;
		height: 8vh;
		font-size: 6vh;
	}
	
	#posts > div > h1 {
		font-size: 12vh;
	}
	
	#posts > div > h2 {
		font-size: 8vh;
	}

	h2 > a {
		font-size: 8vh;
	}
	
	h3 {
		font-size: 5vh;
	}
	
	.custom-file-upload {
		font-size: 8vh;
	}
	
	#post2 > div {
		flex-direction: row;
	}
	
	#post2 > div > button {
		font-size: 5vh;
	}
	
	#downfile {
		font-size: 8vh;
	}
}
